* {
  box-sizing: border-box;
}

:root {
  --color-dark: rgba(37, 36, 36, 0.883);
}

body {
  background-color: #fbfbfbd7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  color: var(--color-dark);
  text-decoration: underline;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

ul li a {
  display: block;
  text-decoration: none;
  padding: 16px;
}

/* Styles to Nav */
nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100vw;
}

.navInactive {
  color: var(--color-dark);
}

.navActive {
  color: black;
}

.portfolio-title {
  color: var(--color-dark);
  font-size: 18px;
  margin-left: 20px;
}

/* Styles to Home Page */
.home--page {
  background-image: url("./assets/images/homepage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 200px;
  padding-left: 100px;
}

.btn--clear {
  background-color: #f7f7f742;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 10px 20px;
}

/* Styles to About */
.aboutHeader {
  margin-bottom: 40px;
}

/* Begin styles to Porjects */
.projectsSection {
  padding-top: 30px;
  padding-bottom: 70px;
  margin-bottom: 0px;
}

.projectTitle {
  margin: 30px 0px 30px;
  text-align: center;
  font-weight: bolder;
}

.projectCard {
  margin-top: 100px;
}

.languages {
  color: #505050;
}

/* Styles to Contact */
/* .contact-card {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='560' height='185' viewBox='0 0 560 185' fill='none'%3E%3Cellipse cx='102.633' cy='61.0737' rx='102.633' ry='61.0737' fill='%23ED64A6' /%3E%3Cellipse cx='399.573' cy='123.926' rx='102.633' ry='61.0737' fill='%23F56565' /%3E%3Cellipse cx='366.192' cy='73.2292' rx='193.808' ry='73.2292' fill='%2338B2AC' /%3E%3Cellipse cx='222.705' cy='110.585' rx='193.808' ry='73.2292' fill='%23ED8936' /%3E%3C/svg%3E");
  z-index: -1;
  position: absolute;
  height: 300px;
  max-width: 640px;
  width: full;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(30px);
} */

.contact-card-content {
  margin-top: 300px;
  margin-bottom: 400px;
  filter: blur(0px);
  z-index: 1;
  background-color: white;
  width: 38%;
  padding: 10px;
  border-radius: 10px;
  margin-left: 80px;
  border: 1px solid black;
  margin: auto;
}

.contactFormHeader {
  font-size: 25px;
  margin-top: 30px;
}

.formName,
.formEmail,
.formMessage {
  width: 35%;
}

/* Styles to Footer */
footer {
  background-color: #f2f3f5;
  color: #252424;
  text-align: center;
  padding-top: 10px;
}

footer p {
  margin-bottom: 0px;
  margin-block-end: 0px;
  padding: 5px;
}

/* MEDIA QUERY FOR 991px */
@media screen and (max-width: 991px) {
  .aboutSmallText {
    font-size: 12px;
  }
  .formName,
  .formEmail {
    width: 55%;
  }
}

/* MEDIA QUERY FOR 740px */
@media screen and (max-width: 740px) {
  .formName,
  .formEmail {
    width: 85%;
  }
}

/* Utilities */
img {
  width: 100%;
  border-radius: 10px;
}

/* section {
  margin: 80px 0px 80px;
} */

/* .sectionHeader {
  text-align: center;
  font-size: 17px;
  font-family: monospace;
} */
