/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fbfbfbd7;
}

/* Utilities */
img {
  width: 100%;
}

section {
  margin: 80px 0px 80px;
}

.sectionHeader {
  text-align: center;
  font-size: 17px;
  font-family: monospace;
}

/* Styles to Nav */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav h1 {
  margin-left: 20px;
  color: #252424ff;
  font-size: 18px;
  font-family: "Spectral", serif;
}

.nav-links {
  height: 100%;
}

.nav-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  display: block;
  text-decoration: none;
  padding: 16px;
}

.nav-links li:hover {
  text-decoration: underline;
}

.navInactive {
  color: #252424ff;
}

.navActive {
  color: pink;
}

/* Styles to About */
.aboutHeader {
  margin-bottom: 40px;
}

/* Begin styles to Porjects */
.projectsSection {
  padding-top: 30px;
  padding-bottom: 70px;
  margin-bottom: 0px;
}

.projectTitle {
  margin: 30px 0px 30px;
  text-align: center;
  font-weight: bolder;
}

.projectCard {
  margin-top: 100px;
}

.languages {
  color: #505050;
}

/* Styles to Contact */
.contactFormHeader {
  font-size: 25px;
  margin-top: 30px;
}

.formName,
.formEmail,
.formMessage {
  width: 35%;
}

/* Styles to Footer */
footer {
  background-color: #f2f3f5;
  color: #252424;
  text-align: center;
}

footer p {
  margin-bottom: 0px;
  margin-block-end: 0px;
  padding: 5px;
}

/* MEDIA QUERY FOR 991px */
@media screen and (max-width: 991px) {
  .aboutSmallText {
    font-size: 12px;
  }
  .formName,
  .formEmail {
    width: 55%;
  }
}

/* MEDIA QUERY FOR 740px */
@media screen and (max-width: 740px) {
  .formName,
  .formEmail {
    width: 85%;
  }
}
